<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PaperPlane.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,124}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,2},{98,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>PaperPlane_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{64,46}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{64,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>planebullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,102},{15,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,40}}</string>
                <key>sourceSize</key>
                <string>{15,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>planeblist.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1fa694d34583321f5350b0ef403c67b:1/1$</string>
            <key>textureFileName</key>
            <string>planeblist.png</string>
        </dict>
    </dict>
</plist>
